.initial-rotation {
  transition: transform 0.3s ease-in-out;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  box-shadow: 10px 10px 8px 0 rgba(10, 10, 10, 0.2), 1px 2px 30px 1px rgba(0, 0, 0, 0.19);
  transform: rotate(-8deg);

}

.initial-rotation:hover {
  transform: rotate(-8deg);
  box-shadow: 10px 10px 8px 0 rgba(10, 10, 10, 0.2), 1px 2px 50px 1px rgba(0, 0, 0, 0.19);
}
/* 
.imageStyle {
  height: 250px;
  width: 350px;
  box-shadow: 10px 10px 8px 0 rgba(10, 10, 10, 0.2), 1px 2px 50px 1px rgba(0, 0, 0, 0.19);
} */