.initial-rotation {
  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.initial-rotation:hover {
  transform: rotate(0deg);
}

.imageStyle {
  height: 250px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px 8px 0 rgba(10, 10, 10, 0.2), 10px 20px 30px 10px rgba(0, 0, 0, 0.19);
}